.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  background-color: #1a2b3a;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  text-align: left;
}

.form input, .form button{
  padding: 1em;
  font-size: 16px;
  margin: 0.4em;
}


.card {
  width: 300px;
  /* height: 180px; */
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
  background-color: #212121;
  color: white;
}

.card-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

#updateInput {
  width: 130px;
  height: 20px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.card button, .card input {
  padding: 0.4em;
  font-size: 16px;
  border: none;
}

.card input{
  background-color: #afafaf;
  color: rgb(255, 255, 255);
}

.card button{
  background-color: #2e5170;
  color: white;
  cursor: pointer;
  margin: 0 0.4em;
  border-radius: 4px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;

}

.container table tr td, .container table tr th
{
  padding: 1em 2em;
  background-color: tan;
  color: #212121;
  text-align: left;
}

.container table tr th{
  background-color: teal;
  color: white;
}

.input-cont{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0.4em;
}

.input-cont input {
  margin: 0.4em;
  padding: 0.4em;
  /* width: 250px; */

}

.input-cont button{
  margin: 0.4em;
  /* width: 260px; */

}

.input-cont button:hover{
  background-color:#ffffff;
  color: black;
}

.card h1 {
  font-size: 25px;
  color: white;

}